@charset "UTF-8";

/*getting started stylesheet*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
The reset CSS overrides all the style rules applied by the browser stylesheet.
If you don't want to reset all CSS values then comment the reset rules out----*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
/*end of reset style rules---------------------------------------------------*/
/*---------------------------------------------------------------------------*/

/*START YOUR STYLSESHEET RULES HERE*/
/*default rule for all elements*/
body {
background-image: url(images/img_2679.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
background-color: #6E6E6E;
font-family: Verdana, Geneva, sans-serif;
color: #FFFFFF;
font-size: 0.9em;
line-height: 1.2em;
}
/*page section elements-----------------------------------------------------*/

#wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: #393939;
  padding: 0 1em 0 1em;
  max-width: 1000px;
  min-width: 300px;
}
.menu	{
	margin: 10px 0 14px 0;
	border-bottom: 1px solid #FF5A09;
	border-top: 1px solid #FF5A09;
	padding: 1em 0 1em 0;
	color: #FF9900;
}
.banner{
	margin-top: 4px;
	margin-bottom: 4px;
}

/*Defines the style for the main page content*/

main	{
	float: right;
	width: 68%;
	margin-bottom: 1em;
	border-right: 1px dotted #FF5A09;
}
nav	{
}
.sidebar {
	float: right;
	width: 25%;
	padding-left: 5%;
}
.clear {
	clear:both;
}
aside	{
}
article	{
	margin-right: 2em;
	padding: 1em 1em 1em 0;
}

/* Defines the style for the footer at the bottom of the page */
footer{
	padding-top: 1em;
	padding-bottom: 1em;
}
.bottom {
	text-align: center;
	clear: both;
	border-top: 1px solid #FF5A09;
}
p	{
  	font-family: Georgia, "Times New Roman", Times, serif;
  	color: #FF9900;
	line-height: 1.2em;
	margin-top: 1.1em;
}
blockquote	{
	margin-left: 30px;
	border-left-width: 3px;
	border-left-style: dotted;
	border-left-color: #CCC;
	padding-left: 15px;
}



/*headings----------------------------------------------------------------------*/
h1	{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #F3843E;
  font-size: 36px;
  line-height: 50px;
}
h2	{
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}
h3 	{
	color: #FFFFFF;
	font-size: 20px;
	line-height: 30px;
}
/*grouping elements--------------------------------------------------------------*/
.date {
color: #333;
}

/*lists--------------------------------------------------------------------------*/
ol	{
	list-style-type: decimal;
	list-style-position: outside;
	padding: 1em 0 1em 0;
	color: #FF9900;
}
ul	{
	list-style-type: disc;
	line-height: 16px;
}
li	{
	margin-left: 1.2em;
	line-height: 20px;
}
dl	{
	color: #FF9900;
	line-height: 1.2em;
	margin-bottom: 1em;
	margin-top: 1em;
}
dt	{
	font-weight: bolder;
    color:#FFFFFF;
}
dd	{
    color: #FF9900;
	text-indent: 10px;
}
.menu li {
		display: inline;
  		list-style-type: none;
  		font-size: 18px;
  		margin-left: 0px;
	}
/*text elements-------------------------------------------------------------------*/
small	{
	font-size: 0.8em;
	line-height: 15px;
	color: #FFFFFF;
}
.post	{
	margin-top: 2px;
	margin-bottom: 2px;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.4, #6E6E6E),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #6E6E6E 40%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #6E6E6E 40%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #6E6E6E 40%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #6E6E6E 40%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #6E6E6E 40%, #FFFFFF 100%);
}
.figCaption {
	color: #FFFFFF;
}
.pTab{
 margin-left: 34px;   
}
/*tables----------------------------------------------------------------*/
table	{
}
	caption{
	color: #FFFFFF;
	font-size:1.5em;
	line-height:1.2em;
	padding-bottom:0.5em;
}
th	{
	color: #004080;
	background-color: #FFFFDC;
	letter-spacing: 0.1em;
	padding: 5px 8px 5px 8px;
	border: 1px solid #393939;
}
thead th {
	color: #333;
	background-color: #DEDEDE;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	padding: 5px 8px 5px 8px;
	border-radius: 6px 6px 0 0;
}
thead th:first-child {
border-left: #393939;
}
thead th:last-child {
border-right: #393939;
}
td	{
	color: #FF9900;
	border: 1px solid #393939;
	padding: 2px;
	text-align: center;
	background-color: #6E6E6E;
}
td:empty {
background-image:url(images/stripe.png);
}
/*embedded elements----------------------------------------------------------------*/
img	{
	margin: 0.5em;
	border: 1px solid #CCC;
}
.floatImg {
	float:right;
	margin-right: 8px;
}
.floatImg {
	float: left;
	margin-right: 8px;
}
/*anchors-------------------------------------------------------------------------*/
a:link	{
	color: #FF5A09;
	text-decoration: none;
}
a:visited {
	color: #B541B5;
	text-decoration: none;
}
a:hover {
    color: #0063A6;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #0063A6;
}
a:active {
	color: #DB1414;
	text-decoration: none;
}
.menu a {
  	color: #FFFFFF;
    background-image: url(images/button.png);
    background-size: cover;
 	padding-top: 2px;
  	padding-right: 5px;
  	padding-bottom: 2px;
  	padding-left: 5px;
  	margin-right: 4px;
  	text-decoration: none;
}
	
.menu a:hover {
  	background-color: #6EC2E5;
  	color: #FFFFFF;
} 

fieldset {
    padding-left:10px;
color: #;
border:solid 1px #FFFFFF;
}
input[type="radio"] {
       
}
input[type="submit"] {
    
}
input {
        display: block;
    }
label {
        display: block;
}